Gmail.json
{
  "name": "Gmail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "eb99cb96-f5b6-41ca-88dc-e9ade136233b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "3zw0cueA1s6oTGt0",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "c3d60d41-9d47-47b4-8e29-c9aa887788c1",
      "name": "Get a message",
      "webhookId": "56a4cc6d-85c8-4202-bcba-6c83b97fc70e",
      "credentials": {
        "gmailOAuth2": {
          "id": "3zw0cueA1s6oTGt0",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are email responding agent \n\n\nBelow are the content of recent email I got.\n\nSubject : {{ $json.Subject }}\n\nBody : {{ $json.snippet }}\n\nYou have to do 2 things :\n\n1. specify the label on the message based on the email. \nuse the tool to get all the label and there Id and mention both of the properly.\n\n  ->label can be one of these :\n  1. course \n  2. Doubts\n  3. sponsorship\n\n2. As a smart assistance plese draft the response for me so that I can reply to my mail ,reply with subject and body\n\nMake sure output is very respectable and where ever required plese explain\nstudent doubt in depth with example and also make sure that reply follow a strict  html format so it is easy to reas.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "5aa0563e-2c14-4f2f-92dc-1e724dbf1f3f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        224,
        240
      ],
      "id": "60ea2b68-eb14-40c8-a0b6-6e5dd5b2a3dd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "efdtaVKmNWqDpz3f",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"label\":\"doubt\",\n  \"label_id\":\"123412\",\n  \"subject\":\"doubt_answer\",\n  \"body\":\"hey Thanks for reaching out\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        672,
        256
      ],
      "id": "257588f0-4d23-4b70-a8c2-6ad99308ca4b",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Get a message').item.json.id }}",
        "labelIds": "={{ $json.output.label_id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "8df64cb5-de3a-4370-89a5-66914eb477d8",
      "name": "Add label to message",
      "webhookId": "be3a2aa6-d088-4865-a169-fcd16744ae18",
      "credentials": {
        "gmailOAuth2": {
          "id": "3zw0cueA1s6oTGt0",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        512,
        336
      ],
      "id": "f3bbc5c7-b08a-4094-9214-15c6553cc21d",
      "name": "Get many labels in Gmail",
      "webhookId": "cc43bea0-80ab-4763-9eff-5fe1ceb146f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "3zw0cueA1s6oTGt0",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('AI Agent').item.json.output.subject }}",
        "emailType": "html",
        "message": "={{ $('AI Agent').item.json.output.body }}",
        "options": {
          "threadId": "={{ $('Get a message').item.json.threadId }}",
          "sendTo": "={{ $('Get a message').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        144
      ],
      "id": "2234c10e-d036-4017-9e3b-dbd5d05441ea",
      "name": "Create a draft",
      "webhookId": "0eb373f5-ebf2-40ba-9c58-9999b2bcc050",
      "credentials": {
        "gmailOAuth2": {
          "id": "3zw0cueA1s6oTGt0",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many labels in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "870bffb8-c233-42c7-89e0-7fbce9b6187f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "523d473bb8fc13a8dd033391160b8f004e8db591a24033638a165ebdb4cdab4b"
  },
  "id": "hSbOey5csttGg4h8",
  "tags": []
}